<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_oderapp">

    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_OderApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ACTIVITY.SearchFoodActivity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.OnPurchase"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.Checkout_activity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.CartActivity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.DetailRestaurant"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.DetailProduct"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.CompleteInfomation_Activity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.OrderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ACTIVITY.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>